# Created by https://www.gitignore.io/api/c,node
# Latest edit by Sambhav Jain, 11:56 UTC

### C ###
# Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

### Node ###
# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# End of https://www.gitignore.io/api/c,node